{% extends 'app_shop/base.html' %}
{% load static %}

{% block main %}
<section class="product">
    <form class="header-search-form flex" action="">
        <input class="header-searc-input" type="text">
        <button class="header-search-btn">Искать</button>
    </form>
    <div class="container">
        <h2 class="new-arrivals-title">
            {{ products_title }}
        </h2>
        <ul class="new-arrivals-list list-reset flex">
            {% for product in products %}
            <li class="new-arrivals-item">
                <article class="article">
                    <img class="article-img" src="{{ MEDIA_URL }}{{ product.photo.url }}" alt="фото товара">
                    <h2 class="article-title">
                        {{ product.title }}
                    </h2>
                    <p class="article-price">
                        {{ product.get_price }} руб.
                    </p>
                    <a class="producct-delail-link" href="{{ product.get_absolute_url }}">Полная информация о товаре</a>
                </article>
            </li>
            {% endfor %}
        </ul>
        {% if page_obj.paginator.num_pages != 1 %}
        <div class="pagination">
            <span class="page-links flex">
                {% if page_obj.has_previous %}
                    <a class="pagination-item-link" href="{{ url }}?page={{ page_obj.previous_page_number }}">назад</a>
                {% endif %}
                <ul class="pagination-list list-reset flex">
                    {% for page in page_obj.paginator.page_range %}
                    <li class="pagination-item">
                        {% if page == page_obj.number %}
                            <p class="pagination-item-link active-page" href="{{ url }}?page={{ page }}">
                                {{ page }}
                            </p>
                        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <a class="pagination-item-link" href="{{ url }}?page={{ page }}">
                                {{ page }}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% if page_obj.has_next %}
                    <a class="pagination-item-link not-margin" href="{{ url }}?page={{ page_obj.next_page_number }}">вперед</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>
</section>
{% endblock %}